<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<!-- Header -->
<div class="header">
  <h1>Badabing Badabung</h1>
  <p>Programmieren ist mein Lieblingsfach</p>
</div>

<!-- Navigation Bar -->
<div class="navbar">
  <a href="#">AERES</a>
  <a href="#">SANDOZ</a>
  <a href="#">NAMASO</a>
  <a href="#">YUNG G</a>
</div>

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <img style="height:200px;" src="../assets/me.jpg" alt="Italian Trulli">
    <p>rosen sind rot, veilchen sind kalt, i wü an 1er aufs referat</p>
    <h3>More Text</h3>
    
  </div>
  <div class="main">
    <h2>TIROLER ALPEN</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <img style="height:200px;" src="../assets/LAND.jpg" alt="Italian Trulli">
    <p>Ui:</p>
    <p>des san de tiroler alpen oder so ma sieht ziemlich entspannt aufn tiroler attersee der sicher ned in oberösterreich is, tirol is witzig, tiroler jodlermodus, juuuudldüdüdü</p>

    <br>
    <h2>wiener ALPEN</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <img style="height:200px;" src="../assets/LAND.jpg" alt="Italian Trulli">
    <p>Ui:</p>
    <p>des san de wiener alpen oder so ma sieht ziemlich entspannt aufn wiener attersee der sicher ned in oberösterreich is, wien is witzig, wiener peenermodus, heast</p>
    
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
